target/META-INF/mule-src/emea-partner-program-xapi/src/main/mule/asset-downloads.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="asset-downloadsFlow" doc:id="d0c0e884-a407-48e8-862c-c59f450f5d95" >
		<ee:transform doc:name="setPayload" doc:id="63f05596-d387-4193-89d1-8659f4fec182" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.assets]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="/assets-downloads" doc:id="24c1a10a-fba0-4a30-b02a-bb06200813d2" config-ref="HTTP_Request_configuration1" path="/partner-program/assets-downloads">
			<http:headers ><![CDATA[#[%dw 2.0
import p from Mule
output application/json
---
{
	"client_id": p('secure::sapi.client_id'),
	"client_secret":p('secure::sapi.client_secret')
}]]]></http:headers>
		</http:request>
	</flow>
</mule>
