src/main/mule/login.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="loginFlow" doc:id="df93a1e7-e10d-4445-b1cd-7497cff3e9b8" >
		<ee:transform doc:name="setPayload" doc:id="b9640c37-c4e9-4843-abbe-e2c0fbb114b9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="/login" doc:id="5daaa7cf-47cf-4f30-887b-1ab95be65a64" config-ref="HTTP_Request_configuration1" path="/partner-program/login" >
			<http:headers ><![CDATA[#[%dw 2.0
import p from Mule
output application/json
---
{
	"client_id": p('secure::sapi.client_id'),
	"client_secret":p('secure::sapi.client_secret')
}]]]></http:headers>
		</http:request>
	</flow>
</mule>
